@use "node_modules/sedna/src/sedna" as sedna;

.chat {
    display: flex;
    height: 100vh;

    &-sidebar {
        @include sedna.to(m) {
            max-width: 200px;
            background: var(--panel-background);
            height: 100vh;
        }

        &-wrapper {
            @include sedna.to(m) {
                background: rgba(0, 0, 0, .5);
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 10;
            }

            @include sedna.from(m) {
                flex: 0 0 200px;
                background: var(--panel-background-alt);
            }
        }
    }

    &-body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
}

.chat {
    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0.5rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 50px);

        max-width: 48rem;
        margin: 0 auto;
        width: 100%;

        &-messages {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            height: calc(100vh - 112px);
            overflow: auto;
        }

        &-widget {
            margin-top: auto;
            padding: .5rem .5rem 1rem .5rem;

            @include sedna.from(m){
                padding: 1rem 1rem 2rem 1rem;
            }
        }
    }
}

.thread {
    margin: 0 .5rem;
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3rem .5rem;
        cursor: pointer;

        border-radius: 4px;
        &.active,
        &:hover {
            background: color-mix(in srgb, var(--panel-background) 70%, black);
            // background: var(--panel-background);
        }
    }
}

.chat-sidebar{
    &-content{
        padding-top: 1rem;
        height: calc(100vh - 70px);
        overflow: auto;
    }
    &-foot{
        padding: 1rem;
    }
}